### Importing the libraries

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

### Importing the dataset

In [3]:
dataset = pd.read_csv('Assn1_Data.csv')
dataset.head()
x= dataset.iloc[:,:-1].values
y= dataset.iloc[:,-1].values
print(x.shape,y.shape)
print(x)
dataset.head()

(5, 1) (5,)
[[1]
 [2]
 [3]
 [4]
 [5]]

   x     y
0  1   1.2
1  2   1.9
2  3   6.4
3  4   8.3
4  5  10.0

### Initialising the parameters

In [4]:
theta = np.array([0,0]) 
print('theta : ', theta)

x0 = np.ones(5, dtype=int).reshape(5,1)
print('x0 = ',x0)
x0.shape

x= np.hstack((x0,x))
print(f"x = {x}")
x.shape

theta :  [0 0]
x0 =  [[1]
 [1]
 [1]
 [1]
 [1]]
x = [[1 1]
 [1 2]
 [1 3]
 [1 4]
 [1 5]]

(5, 2)

### Applying Gradient Descent

In [5]:
LR = 0.001
def gradientDescent(LR,theta,x,y):
    h= np.dot(theta,x.T)
    a = np.dot((y-h),x)
    theta = theta - LR*a 
    
    return theta

### Finding Updated Parameters

In [6]:
epochs = 1000 

for i in range(epochs):
    theta_update = gradientDescent(LR,theta,x,y)
    theta = theta_update
print(theta)

[-4.55890074e+24 -1.64590782e+25]